
p{
    background-color:purple;color:white;
    /* all 4 sides */
    padding:20px;
    /* all individual sides */
    padding-left: 20px;
    padding-bottom:20px;
    padding-top: 20px;
    padding-right: 20px;
    /* border */
    border-width:5px;
    border-color:black;
    border-style:solid;
}
/* one liner */





