p {
   /* background-color: rgb(65,108,176);*/
   background-color:blue;
   font-size: 18px;
  color:white;
  padding:10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
} 
div span{
    background-color: rgb(155,116,58);
}
div > span{
    background-color: rgb(52,216,235);

}

