body {
   background-color: rgb(0, 176, 211);
}

#navbor {
   display: flex;
   background-color: rgb(0, 132, 255);
   align-items: center;

}

#navbor>img {
   border-radius: 50px;
   height: 75px;
   margin-left: 20px;

}

#nav-menu {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   gap: 20px;
   height: 100px;
}

#nav-menu {
   color: white;
   text-decoration: none;
}

#video-group {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: space-around;

}

#video-group div {
   position: relative;
}

#video-group div h2 {
   position: absolute;
   bottom: 45px;
   left: 20px;
   color:white;
}
#nav {
   display: flex;
   flex-direction: row;
   gap:20px;
   margin-bottom: auto;
}
.contact-body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 95vh;
}

.contact{
   background-color: pink;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   padding: 20px;
   width: 400px;
   border-radius: 10px;
}
.contact button{
   background-color: palevioletred;
   border: none;padding: 10px;
}
#home {
   margin-top: 700px;
   display: flex;
   flex-direction: row;
   justify-content: start;
}
a{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}

.button{
   position: relative;
  right: 265px;

}
.footer {
  background-color: #0f172a;
  color: #f1f5f9;
  padding: 30px 20px;
  font-family: Arial, sans-serif;
}



